mixin validationErrorSummary(errors)
  if errors
    ul
      each error in errors
        li= error

mixin field(labelText, fieldName, fieldValue, fieldType = "text", placeholder = null)
    div(class="labelClass")
      label(for=fieldName)= labelText
    div(class="form-select")
      if fieldType === "textarea"
        textarea(id=fieldName name=fieldName rows="5")= fieldValue
      else if fieldType === "select"
        select(id=fieldName name=fieldName class="form-select")
      else
        input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class="form-control")

mixin treeListView(trees)
  each tree in trees
    tr
      td.column: a(href= "/trees/"+tree.id)= tree.name
      td.column: p= tree.cityState
      td.column: a(href= "/users/"+tree.adderId)= tree.user.username

mixin csrfToken()
  input(type="hidden" name="_csrf" value=csrfToken)

mixin reviewListView(review, ownedTree)
  div.review-list__table.circled-content
    table
      thead
        th.column.review-list__column Reviewer
        th.column.review-list__column Difficulty
        th.column.review-list__column Fun Factor
        th.column.review-list__column View From Top
      tbody
        tr
          td.column.review-list__column: a(href="/users/"+review.reviewer.id)= review.reviewer.username
          td.column.review-list__column: p= review.difficulty
          td.column.review-list__column: p= review.funFactor
          td.column.review-list__column: p= review.viewFromTop
    div.review-list__description
      p.review-list__description__title Description
      p= review.reviewText
    if ownedTree
      .sidebar-btn-container
        form(action=`/reviews/${review.treeId}/new`, method="get")
          button.form-btn Update Review
        button.form-btn#delete-review(data-treeId=review.treeId data-reviewerId=review.reviewerId) Delete Review
