mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div(class='form-group')
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName class='form-control' rows='5')= fieldValue
    else if fieldType === 'select'
      select(id=fieldName name=fieldName class='form-select')
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin treeListView(trees)
  //- ul.tree-list
  //-   li: div.tree-list__container
  //-     div.tree-list__col
  //-       p Tree Name
  //-     div.tree-list__col
  //-       p City/State
  //-     div.tree-list__col
  //-       p Tree Creator
  //-   each tree in trees
  //-     li: div.tree-list__container
  //-       div.tree-list__col
  //-         a(href= '/trees/'+tree.id)= tree.name
  //-       div.tree-list__col
  //-         p= tree.cityState
  //-       div.tree-list__col
  //-         a(href= '/users/'+tree.adderId)= tree.user.username
  table.trees-table
    thead
      th.column Tree Name
      th.column City, State
      th.column Tree Creator
    tbody
      each tree in trees
        tr
          td.column: a(href= '/trees/'+tree.id)= tree.name
          td.column: p= tree.cityState
          td.column: a(href= '/users/'+tree.adderId)= tree.user.username

mixin csrfToken()
  input(type='hidden' name='_csrf' value=csrfToken)

//- mixin reviewListView(tree)
//-   each review in tree.reviews
