mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div(class='form-group')
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName class='form-control' rows='5')= fieldValue
    else if fieldType === 'select'
      select(id=fieldName name=fieldName class='form-select')
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin treeListView(trees)
  ul
    li: div(class='tree-list__container')
      div(class='tree-list__col')
        p Tree Name
      div(class='tree-list__col')
        p Closest City/State
      div(class='tree-list__col')
        p Tree Creator
    each tree in trees
      li: div(class='tree-list__container')
        div(class='tree-list__col')
          a(href= '/trees/'+tree.id)= tree.name
        div(class='tree-list__col')
          p= tree.cityState
        div(class='tree-list__col')
          a(href= '/users/'+tree.adderId)= tree.user.username

mixin csrfToken()
  input(type='hidden' name='_csrf' value=csrfToken)
