mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  
    div(class='labelClass')
      label(for=fieldName)= labelText
    div(class="form-select")
      if fieldType === 'textarea'
        textarea(id=fieldName name=fieldName rows='5')= fieldValue
      else if fieldType === 'select'
        select(id=fieldName name=fieldName class='form-select')
      else
        input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin treeListView(trees)
  table.trees-table
    thead
      th.column Tree Name
      th.column City, State
      th.column Tree Creator
    tbody
      each tree in trees
        tr
          td.column: a(href= '/trees/'+tree.id)= tree.name
          td.column: p= tree.cityState
          td.column: a(href= '/users/'+tree.adderId)= tree.user.username

mixin csrfToken()
  input(type='hidden' name='_csrf' value=csrfToken)
