extends ../layout.pug

append head
    script(src="/javascripts/specific-tree.js" type="module" defer)    
include ../utils.pug

block content
    .specific-tree__background.page__background
        h1.header= tree.name
        .container
            .sidebar.circled-content
                h2.sub-header.sidebar-header Add To Your Forest
                div.sidebar-btn-container.sidebar-btn-container-1
                    if (!existingFC)
                        button.form-btn#mark-climbed-btn(data-userId=locals.curUser.id data-treeId=tree.id) Climbed
                        button.form-btn#mark-want-to-climb-btn() Want to
                    else if (existingFC.climbStatus)
                        button.form-btn#mark-climbed-btn(disabled data-userId=locals.curUser.id data-treeId=tree.id) Climbed ✓
                        button.form-btn#mark-want-to-climb-btn() Want to
                    else
                        button.form-btn#mark-climbed-btn(data-userId=locals.curUser.id data-treeId=tree.id) Climbed
                        button.form-btn#mark-want-to-climb-btn(disabled) Want to ✓
                div.sidebar-btn-container
                    if (!existingFC)
                        button.form-btn#mark-remove(disabled) Remove
                    else
                        button.form-btn#mark-remove() Remove
                h2.sub-header.sidebar-header(title="Difficulty score is an average of all reviews on this tree") Difficulty
                .score(title="Difficulty score is an average of all reviews on this tree" style=`background: linear-gradient(to right, #b39260 ${100*avgDiff/4}%, rgba(255, 255, 255, 0.479) ${100*avgDiff/4}%);`) #{avgDiff} / 4
                h2.sub-header.sidebar-header(title="Fun factor score is an average of all reviews on this tree") Fun Factor
                .score(title="Fun factor score is an average of all reviews on this tree" style=`background: linear-gradient(to right, #b39260 ${100*avgFun/4}%, rgba(255, 255, 255, 0.479) ${100*avgFun/4}%);`) #{avgFun} / 4
                h2.sub-header.sidebar-header(title="View from top score is an average of all reviews on this tree") View From Top
                .score(title="View from top score is an average of all reviews on this tree" style=`background: linear-gradient(to right, #b39260 ${100*avgView/4}%, rgba(255, 255, 255, 0.479) ${100*avgView/5}%);`) #{avgView} / 4
                div.sidebar-btn-container
                    form(action=`/reviews/${tree.id}/new`, method="get")
                        if !existingReview
                            button.form-btn Review This Tree
                        else
                            button.form-btn Update Review

            .container__main-content.right-side-container
                .circled-content
                    div
                        h2.sub-header Tree Location
                        p.tree-details= tree.detLocation
                        p.tree-details= tree.cityState
                    div
                        h2.sub-header Tree Creator
                        a.tree-details(href="/users/"+tree.adderId)= tree.user.username
                    div
                        h2.sub-header Tree Description
                        p.tree-details= tree.description
                    div
                        h2.sub-header Tree Reviews
                div
                .review-list__container
                    each review in tree.reviews
                        +reviewListView(review)
